.ProductInBasket {
    display: flex;
    width: 500px;
    align-items: center;
  }
  
.basket-image {
    width: 40%;
}
  
.basket-image img {
    height: 50px;
}
  
.basket-title, .basket-price {
    width: 15%;
}

.basket-button {
    margin: 0 5px;
    background-color: aquamarine;
    border-radius: 3px;
    font-weight: bold;
}

.basket-remove {
    padding: 5px;
    background-color: lightcoral;
}